@import url(normalize.css);

html {
	height: 100%;
}

body {
	position: relative;
	min-height: 100%;
	line-height: 1.6;
	font-family: Verdana, Tahoma, Arial;
	background: #f2f2f2;
}

a, a:visited {
	text-decoration: none;
	color: #333;
}

code, kbd {
	font-family: Consolas, monospace;
}

kbd {
	background: #555;
	padding: .2em .3em;
	margin: 0 .3em;
	height: .8em;
	line-height: .8em;
	border-radius: .3em;
	font-size: .9em;
	color: #eee;
	vertical-align: middle;
}

.list-unstyled {
	padding: 0;
	list-style: none;
}

.wrap {
	width: 1000px;
	margin: auto;
}

.main {
	padding-bottom: 5em;
}

.header {
	height: 3em;
	line-height: 3em;
	background: rgba(255,255,255, .8);
	border-bottom: 1px solid #ccc;
	margin-bottom: 2em;
}

.header nav {
	float: right;
}

.header nav a {
	margin: 0 .5em;
	color: #787878;
	transition: color .2s;
}

.header nav a:hover {
	color: #333;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #333;
	text-align: center;
	font-size: .8em;
	color: #666;
}

.footer a {
	color: #999;
}

.h-logo {
	float: left;
	margin-right: 1em;
	font-size: 1.5em;
}

.h-logo a {
	color: #2BB898;
}

.article-list li {
	margin: 1em 0;
	padding-left: 1em;
	border-left: .5em solid #ddd;
}

.article-list li a {
	transition: color .2s;
}

.article-list li a:hover {
	color: #2BB898;
}

.al-time {
	display: inline-block;
	padding-top: .4em;
	vertical-align: top;
	font-size: .8em;
	color: #787878;
}

.al-title {
	display: inline-block;
	margin-left: .5em;
	font-size: 1.2em;
}

.article-header {
	margin-bottom: 1em;
}

.article-header h1 {
	margin: .2em 0;
	line-height: 1;
}

.article-header span {
	font-size: .8em;
	color: #ccc;
}

.article-brief {
	padding: .8em;
	margin-bottom: 1em;
	font-size: 1em;
	line-height: 1.5;
	background: #fff;
	color: #787878;
	border: 1px solid #ddd;
}