<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="{{ site.base }}css/style.css">
	<link rel="stylesheet" href="{{ site.base }}css/syntax.css">
	<style>
		#uyan_frame {
			min-height: 300px;
			padding: 1em;
			margin-top: 2em;
			border: 1px solid #ddd;
			background: #fff url({{ site.base }}images/loading.gif) center no-repeat;
		}
		#uyan_frame iframe, #uyan_cmt_box {
			background: #fff;
		}
	</style>
</head>
<body>
	{% include header.html %}
	<div class="wrap main">
		<section class="article-header">
			<h1>{{ page.title}}</h1>
			<span>{{ page.date }}</span>
		</section>
		<article>
			{% if page.brief %}
			<div class="article-brief">
				{{page.brief}}
			</div>
			{% endif %}
			{{ content }}
		</article>
		<!-- UY BEGIN -->
		<div id="uyan_frame"></div>
		<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2043181"></script>
		<!-- UY END -->
	</div>
	{% include footer.html %}
</body>
</html>